@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Background-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20vh);
    margin: 20px 5px 20px 5px;
    height: 100%;
    object-fit: cover;
    border-image: linear-gradient(rgb(4,140,108), rgb(24, 21, 21)) 30;
    border-width: 4px;
    border-style: solid;
}

.showcase {
    background-image: url(images/gate.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    grid-column: 1/5;
    grid-row: 1/5;
    min-height: 100%;
}

.wrapper {
    background: linear-gradient(to left, rgb(75, 75, 75), darkgray);
}

.wrapper>nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
}

.wrapper>nav>a{
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 19px;
    text-decoration: none;
    padding: 14px 16px;
}

.wrapper>nav>.home {
    background-color: rgb(0, 6, 92);
    border-radius: 9px;
    border: 2px solid black;
}

.wrapper>nav>.home:hover{
    background-color: rgb(214, 214, 214);
    color: black;
    transition: 0.4s;
    text-decoration: underline;
}

.videoEmbed {
    max-width: 100%;
    position: relative;
}

.videoEmbed>video {
    object-fit: fill;
    width: 100%;
    height: 100%;
    top: 1;
    border: 2px solid rgb(37, 37, 37);
}

.container{
    margin: 20px;
}

/* @keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
    }
}

.info {
    animation-name: slideUp;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0.5s;

    margin-bottom: 40px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: center;
    font-family: "Lato" ,sans-serif;
    color: black;
    font-size: 20px;
}

.info>.Apex>img{
    width: 200px;
}

.info>.Skytrax>img{
    width: 150px;
}

.info>.OneWorld>img{
    width: 180px;
}

/* Can use javascript to appear text on click */
/* .info>.Apex>img:hover{
    width: 315px;
    transition: 0.5s;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 30px;
    padding: 10px;
}

.info>.OneWorld>img:hover{
    width: 215px;
    transition: 0.5s;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 30px;
    padding: 23px;
}

.info>.Skytrax>img:hover{
    width: 170px;
    transition: 0.5s;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 30px;
    padding: 15px;
} */ */

#Desc {
    display: block;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid black;
    margin: 1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 2;
}

@keyframes slideleft {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
    }
}

.container{
    animation-name: slideleft;
    animation-duration: 2s;
    animation-delay: 0.7s;

    margin: 20px;
    margin-left: 30rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
}

.container>.desc {
    grid-column: 1/2;
    line-height: 2;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.container>.logo{
    grid-column: 2/3;
}

.container>.logo>img{
    min-width: 25%;
    width: 25%;
    border: 5px solid black;
}


.content{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20vh);
    height: 100%;
    border-image: linear-gradient(rgb(4,140,108), rgb(24, 21, 21)) 30;
    border-width: 4px;
    border-style: solid;
    color: white;
    font-family: "Lato", sans-serif;
}

.image{
    grid-row: 1/5;
    grid-column: 1/5;
    background: url(/airlines/ZIPAIR/images/sunset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.image>p {
    display: inline-block;
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
    background-color: rgb(4,140,108);
    padding: 0.8rem;
    border-radius: 5px;
}

.link {
    grid-row: 1/5;
    grid-column: 4/5;
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.link>.text{
    font-size: 30px;
    margin: 50px;
    line-height: 2;
}

.link>.externalbox {
    margin: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    font-size: 20px;
    border: 1px solid darkgray;
    text-decoration: none;
}

.link>.externalbox:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: 0.3s;
}

footer {
    background: linear-gradient(to left, rgb(75, 75, 75), darkgray);
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    font-family: "Lato",sans-serif;
}


/********************************************************
Container Carrousel
********************************************************/
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

.logos {
    margin-top: 30px;
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    background-color: #C7D0D8;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 4;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 200px;
    margin: 0 50px;
    border-radius: 10px;
  }


